<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ya-vero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list mode="ios" lines="inset">
    <ion-item ion-item *ngFor="let contact of contacts" mode="ios">
      <ion-avatar slot="start" button (click)="viewProfileById(contact.uuid)">
        <img :src="{{contact.image}}" />
      </ion-avatar>

      <ion-label button (click)="openChat(contact.uuid)">
        <h1>{{contact.username}}</h1>
        <p>{{contact.state}}</p>
      </ion-label>
      <ion-badge *ngIf="contact.in_line==true" color="success">
        En linea
      </ion-badge>
      <ion-badge *ngIf="contact.in_line==false" color="danger">
        Fuera de linea
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
