<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-chat">
      <ion-icon name="chatbubbles-sharp"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
